{% include 'roadtrip.tmpl' %}

{% if error %}
    <div class="row-fluid" style="padding-left: 30px">
        <div class="span5 alert-error" style="padding-left: 20px">
            <p>{{ error_msg }}</p>
        </div>
    </div>
{% endif %}

{% if success %}
    <div class="row-fluid" style="padding-left: 30px">
        <div class="span7 alert-success" style="padding-left: 20px">
            <h3>Transaction Successful!</h3>
        </div>
    </div>
{% endif %}

{% if place_list %}
    <form method="POST" action="{{ model_name }}">{% csrf_token %}
        <div class="row-fluid">
            <div class="span5" style="padding-left: 50px; padding-bottom: 25px">
                <h4>Enter your details</h4>
            </div>
        </div>
        <div class="row-fluid" style="padding-left: 30px">
            <div class="span3">
                <input type="text" name="fname" id="fname" placeholder="First Name" value="{{ fname }}"><sup style="color: #ff0000">*</sup>
            </div>
            <div class="span3">
                <input type="text" name="lname" id="lname" placeholder="Last Name" value="{{ lname }}"><sup style="color: #ff0000">*</sup>
            </div>
        </div>
        <br>
        <div class="row-fluid" style="padding-left: 30px">
            <div class="span2">
                <p><b>UID:</b><sup style="color: #ff0000">*</sup></p>
            </div>
            <div class="span3">
                <input type="text" name="uid" id="uid" value="{{ uid }}">
            </div>
        </div>
        <div class="row-fluid" style="padding-left: 30px">
            <div class="span2">
                <p><b>License Number:</b><sup style="color: #ff0000">*</sup></p>
            </div>
            <div class="span3">
                <input type="text" name="license_no" id="license_no" value="{{ license_no }}">
            </div>
        </div>
        <div class="row-fluid" style="padding-left: 30px">
            <div class="span2">
                <p><b>Address:</b><sup style="color: #ff0000">*</sup></p>
            </div>
            <div class="span3">
                <textarea id="address" name="address" rows="5" cols="50">{{ address }}</textarea>
            </div>
        </div>
        <div class="row-fluid" style="padding-left: 30px">
            <div class="span2">
                <p><b>Primary Phone No:</b><sup style="color: #ff0000">*</sup></p>
            </div>
            <div class="span3">
                <input type="text" name="primary_phone" id="primary_phone" value="{{ primary_phone }}">
            </div>
        </div>
        <div class="row-fluid" style="padding-left: 30px">
            <div class="span2">
                <p><b>Alternate Phone No:</b></p>
            </div>
            <div class="span3">
                <input type="text" name="alt_phone" id="alt_phone" value="{{ alt_phone }}">
            </div>
        </div>
        <div class="row-fluid" style="padding-left: 30px">
            <div class="span2">
                {% if driver %}
                    <input type="checkbox" id="driver" name="driver" value="Yes" checked="checked"> Want a driver
                {% else %}
                    <input type="checkbox" id="driver" name="driver" value="Yes"> Want a driver
                {% endif %}

            </div>
            <div class="span3">
                <select id="place" name="place">
                    {% for place in place_list %}
                        <option value="{{ place }}">{{ place }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <br>
        <div class="row-fluid" style="padding-left: 30px">
            <div class="span1"></div>
            <div class="span2">
                <input type="submit" class="btn btn-info" value="Confirm">
            </div>
        </div>
    </form>
{% endif %} 


<script>
    $(function(){
        if ($(this).is(":checked"))
        {
            alert("is checked");
            $('#place').show();
        }
        else
        {
            $('#place').hide();
        }
    });
    $('#driver').change(function(){
        if ($(this).is(":checked"))
        {
            $('#place').show();
        }
        else
        {
            $('#place').hide();
        }
    });
</script>