{% include 'roadtrip.tmpl' %}

<ul style="list-style-type: none">
    <li>
        NAME: {{ merc_eclass.name }}
    </li>
    <li>
        SEAT CAPACITY: {{ merc_eclass.seat_capacity }}
    </li>
    <li>
        FUEL CAPACITY: {{ merc_eclass.fuel_capacity }} litres
    </li>
    <li>
        ENGINE CAPACITY: {{ merc_eclass.eng_capacity }} cc
    </li>
    <li>
        FUEL TYPE: {{ merc_eclass.fuel_type }}
    </li>
</ul>
<br>
<b>DIMENSIONS</b>
<br>
<ul style="list-style-type: none">
    <li>
        HEIGHT: {{ merc_eclass.height }} mm
    </li>
    <li>
        WIDTH: {{ merc_eclass.width }} mm
    </li>
    <li>
        LENGTH: {{ merc_eclass.length }} mm
    </li>

</ul>

<br>
<b>PRICE DETAILS</b>
<br>
<ul style="list-style-type: none">
    <li>
        PRICE PER DAY: Rs. {{ price }}
    </li>
    <li>
        ADDITIONAL PRICE FOR AC PER DAY: Rs. {{ ac_add }}
    </li>
    <li>
        INITIAL DEPOSIT: Rs. {{ deposit }}
    </li>

</ul>

