{% include 'roadtrip.tmpl' %}
{% if premium_list %}
<div class="row-fluid">
{% for car_premium in premium_list %}
        <div class="span4" style="padding: 30px">
            <p><b><ins>{{ car_premium }}</ins></b></p>
            <br>
            {% if car_premium == "AMBASSADOR" %}
                <a href="/rent/model/ambassador" ><img src="/static/ambassador.jpg" height="150 px" width="250 px"></a>
            {% elif car_premium == "TATA INDIGO" %}
                <a href="/rent/model/tata_indigo" ><img src="/static/tata_indigo.jpg" height="150 px" width="250 px"></a>
            {% elif car_premium == "HYUNDAI ACCENT" %}
                <a href="/rent/model/hyunai_accent" ><img src="/static/hyundai_accent.jpg" height="150 px" width="250 px"></a>
            {% endif %}
        </div>
{% endfor %}
</div>
{% endif %}