{% include 'roadtrip.tmpl' %}
{% if car_type_list %}
<ul>
{% for car_type in car_type_list %}
    <li>
    {% if car_type == "TOP PREMIUM" %}
        <a href="/rent/top_premium" ><img src="/static/top_premium.jpg" height="150 px" width="250 px"></a>
    {% elif car_type == "LUXURY AND EXECUTIVE" %}
        <a href="/rent/luxury" ><img src="/static/luxury.jpg" height="150 px" width="250 px"></a>
    {% elif car_type == "MEDIUM" %}
        <a href="/rent/medium" ><img src="/static/medium.jpg" height="150 px" width="250 px"></a>
    {% elif car_type == "BUDGET AND ECONOMY" %}
        <a href="/rent/budget" ><img src="/static/budget.jpg" height="150 px" width="250 px"></a>
    {% elif car_type == "SUV/MUV" %}
        <a href="/rent/suv" ><img src="/static/suv.jpg" height="150 px" width="250 px"></a>
    {% endif %} 
    <br>
    {{ car_type }}
    <br>
    <br>
    </li>
{% endfor %}
</ul>
{% endif %}
